@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.social-call {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  margin: 0px 5px;
  color: rgba(0, 0, 0, 7);
  font-size: 0.9rem;
}

.phone {
  color: rgba(0, 0, 0, 7);
  margin-left: 30px;
  font-size: 0.9rem;
}

.social a:hover {
  color: #0b9d8a;
  transition: all ease 0.3s;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 45px;
}

.logo img {
  height: 30px;
}

.menu {
  display: flex;
}

.menu li {
  position: relative;
  margin: 20px;
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
}

.menu li a {
  color: #555555;
}

.right-menu a {
  margin: 0px 10px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 7);
}

.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover {
  color: #0b9d8a;
  transition: all ease 0.3s;
}

.sale-lable {
  width: 38px;
  height: 17px;
  background-color: #f76b6a;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  right: -20px;
}

.sale-lable:after {
  content: "";
  width: 0px;
  height: 0px;
  border-bottom: 5px solid transparent;
  border-top: 7px solid #f76b6a;
  border-right: 5px solid transparent;
  position: absolute;
  left: 10%;
  top: 100%;
}

.fa-shopping-cart {
  position: relative;
}

.num-cart-product {
  position: absolute;
  top: -17px;
  right: -17px;
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #0b9d8a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

/* Search */
.search-bar {
  width: 100%;
  height: 300px;
  position: fixed;
  background-color: #ffffff;
  left: 10px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
  z-index: 101;
  animation: search 0.3s;
}

.search-input {
  width: 90%;
  border-bottom: 2px solid #555555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

.search-bar input {
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  font-size: 2rem;
  margin: 20px;
  padding: 0px 20px;
}

.search-bar {
  display: none;
}

.search-cancel {
  color: #272727;
  font-size: 2rem;
  padding-right: 40px;
}

.search-bar-active {
  display: flex;
}

@keyframes search {
  0% {
    bottom: -300px;
  }

  100% {
    bottom: 0px;
  }
}

/* form login sign up */
.form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 102;
}

.login-form,
.sign-up-form {
  width: 430px;
  padding: 20px 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
}

.login-form form,
.sign-up-form form {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  display: flex;
}

.login-form strong,
.sign-up-form strong {
  color: #272727;
  font-size: 2rem;
  margin: 2px 7px 7px 7px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.login-form input,
.sign-up-form input {
  width: 90%;
  height: 45px;
  margin: 6px 0px;
  padding: 0px 10px;
  border: 1px solid rgb(156, 136, 136);
  outline: none;
  border-radius: 7px;
}

.login-form input::placeholder,
.sign-up-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"] {
  background-color: #0b9d8a;
  color: #ffffff;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.form-btns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.forms-btns a {
  color: #4d4d4d;
  font-size: 0.9rem;
}

.form-cancel {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #868686;
}

.sign-up-btn {
  border-bottom: 1px solid #868686;
  line-height: 16px;
}

.login-form,
.sign-up-form,
.form {
  display: none;
}

.login-active,
.login-active .login-form {
  display: flex;
}

.sign-up-active,
.sign-up-active .sign-up-form {
  display: flex;
}

.full-slider-box {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.f-slide-1 {
  background-image: url(../images/Slider_01.jpg);
}

.f-slide-2 {
  background-image: url(../images/Slider_02.jpg);
}

.f-slide-3 {
  background-image: url(../images/Slider_03.jpg);
}

.slider-text-container {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
}

.f-slider-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.f-slider-text strong {
  color: #333333;
  font-size: 3rem;
  line-height: 55px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.f-slider-text span {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
  color: #666666;
  font-size: 1.2rem;
}

.f-slider-btn {
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #0b9d8a;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 14px;
  padding: 10px;
  border-radius: 5px;
}

.f-slider-text strong font {
  color: #0b9d8a;
}

font {
  color: #0b9d8a;
  font-weight: 600;
  font-size: 1.5rem;
}

.feature-heading,
.arrival-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feature-heading h2,
.arrival-heading strong {
  font-size: 1.5rem;
  color: #0b9d8a;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
  padding: 5px 30px;
}

.feature-heading h1 {
  font-size: 2rem;
  color: #191f1e;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
  padding: 5px 30px;
}

.feature-box {
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  align-items: center;
  width: 155px;
  height: 155px;
  margin: 0px 20px;
  border-radius: 10px;
  overflow: hidden;
}

.feature-img {
  position: relative;
  cursor: pointer;
}

.feature-box:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.feature-box a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.distribusi-box {
  display: flex;
  flex-grow: 0.5;
  align-items: center;
  margin: 0px 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: justify;
}

.distribusi-box .gambar {
  width: 500px;
  margin-right: 20px;
  height: 380px;
}

.distribusi-box .content-1 {
  font-size: 1.5rem;
  color: #0b9d8a;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.distribusi-box .content-2 {
  color: #808080;
  font-size: 0.9rem;
}

.animated-progress {
  width: 90%;
  height: 30px;
  border-radius: 10px;
  margin: 20px 10px;
  border: 1px solid rgb(189, 113, 113);
  overflow: hidden;
  position: relative;
}

.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 30px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
}

.progress-blue span {
  background-color: blue;
}
.progress-green span {
  background-color: rgb(33, 141, 33);
}
.progress-yellow span {
  background-color: rgb(134, 134, 23);
}
.progress-red span {
  background-color: rgb(114, 21, 21);
}

.track {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px;
  color: #191f1e;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item span {
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;
  color: #444444;
}

#autoWidth {
  display: flex;
  justify-content: center !important;
  margin: 10px auto 40px auto;
}

.arrival-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrival-heading strong {
  /* color: #ffffff; */
  /* background-color: #202020; */
  font-weight: 600;
}

.arrival-heading p,
.feature-heading p {
  color: #808080;
  margin: 10px;
  font-size: 0.9rem;
  text-align: justify;
}

.product-container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.product-box {
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  margin: 20px;
}

.product-img {
  position: relative;
  width: 160px;
  height: 180px;
  margin: 20px;
  cursor: pointer;
}

.product-img img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  object-position: center;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid #f3f3f3;
}

.p-name {
  color: #333333;
  font-weight: 400;
  font-size: 1.2rem;
}

.p-price {
  color: #727272;
  text-align: center;
}

.product-box:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.add-chart {
  position: absolute;
  right: 25px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #0b9d8a;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: none;
  animation: fade 0.5s;
}

.add-chart:hover {
  background-color: #f76b6a;
  transition: all ease 0.4s;
}

.feature-img:hover .add-chart {
  display: flex;
}

.new-arrival {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sale {
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-box {
  width: 280px;
  border-radius: 20px;
  margin: 20px;
  position: relative;
  flex-grow: 0.5;
}

.sale-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
}

.sale-text {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
  display: flex;
  flex-direction: column;
}

.sale-box a {
  color: #0b9d8a;
}

.sale-box strong {
  font-size: 1.2rem;
  font-weight: 500;
  width: 85%;
  line-height: 23px;
}

.services {
  /* background-color: red; */
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.service-box {
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 60px;
  padding: 20px;
  margin: 15px;
  flex-grow: 0.7;
}

.service-box i {
  color: #0b9d8a;
  font-size: 2rem;
  margin: 15px;
}

.service-box span {
  color: #222222;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 1rem;
}

.service-box p {
  color: #878787;
  margin: 0px;
  text-align: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  margin-top: 20px;
}
.copyright {
  font-size: 0.9rem;
  color: #4e4e4e;
  letter-spacing: 1px;
}
.subscribe input {
  width: 240px;
  height: 43px;
  padding: 0px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
}
.subscribe input[type="submit"] {
  width: 120px;
  background-color: #0b9d8a;
  color: #ffffff;
  margin: 0px 5px;
}

.fix-nav {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 102;
}

.toggle {
  display: none;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.portfolio-box {
  display: flex;
  flex-grow: 0.1;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  margin: 20px;
}
.portfolio-img {
  width: 200px;
  height: 210px;
  margin: 20px;
  position: relative;
}
.portfolio-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.portfolio-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid #f3f3f3;
}

.portfolio-details a {
  text-align: center;
}

.portfolio-box:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.detail-portfolio {
  margin: 20px;
}

.detail-portfolio a {
  margin: 10px;
}

.detail-portfolio a:hover {
  color: red;
}

/* ===================== Tablet ============================================= */

@media (max-width: 1010px) {
  nav {
    position: relative;
  }
  .navigation {
    height: 80px;
  }
  .fix-nav {
    height: 80px;
  }
  .menu {
    position: absolute;
    top: 110px;
    left: 0px;
    background-color: #ffffff;
    border-bottom: 4px solid #0b9d8a;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 102;
    flex-direction: column;
    display: none;
  }
  .fix-nav .menu {
    top: 80px;
  }
  .menu li {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .navigation .menu li a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.03);
  }
  .sale-lable {
    display: none;
  }
  .toggle {
    display: block;
  }
  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 30px;
    z-index: 1;
    cursor: pointer;
  }
  .toggle.active:before {
    content: "\f00d";
  }
  .navigation.active .menu {
    display: block;
  }
  .full-slider-box,
  .banner-box {
    height: 45vh;
  }
  .f-slider-text span,
  .banner-text span {
    font-size: 0.9rem;
  }
  .f-slider-text strong,
  .banner-text strong {
    font-size: 2rem;
    line-height: 40px;
  }

  .service-box i {
    color: #0b9d8a;
    font-size: 2rem;
    margin: 15px;
  }

  .service-box span {
    text-align: center;
    color: #222222;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 1rem;
  }

  .service-box p {
    color: #878787;
    margin: 0px;
    text-align: center;
    justify-content: center;
  }
  .service-box a {
    margin: 0px 5px;
  }

  .f-slider-btn {
    padding: 10px;
    width: 100;
    height: 30px;
    font-size: 0.7rem;
  }

  .distribusi-box {
    display: flex;
    flex-grow: 0.5;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    border-radius: 10px;
    overflow: hidden;
    text-align: justify;
  }

  .distribusi-box .gambar {
    width: 270px;
    height: 270px;
    margin-right: 10px;
  }

  .distribusi-box .content-1 {
    font-size: 1.2rem;
    color: #0b9d8a;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .distribusi-box .content-2 {
    font-weight: 500;
    color: #666666;
    font-size: 0.9rem;
  }

  .search-input {
    height: 60px;
  }
  .search-input input,
  .search-cancel {
    font-size: 1.4rem;
  }
  .sale-box {
    height: 200px;
  }

  .portfolio-details a {
    text-align: center;
  }

  .detail-portfolio {
    margin: 10px;
  }

  .detail-portfolio a {
    margin: 10px;
    font-size: 0.8rem;
  }
}

/* ======================= HP ============================ */

@media (max-width: 600px) {
  .navigation {
    padding: 10px;
  }
  .f-slider-text strong,
  .banner-text strong {
    font-size: 1.2rem;
    line-height: 25px;
  }
  .full-slider-box,
  .banner-box {
    height: 30vh;
  }
  .f-slider-text span,
  .banner-text span {
    font-size: 0.8rem;
  }
  .f-slider-btn,
  .banner-btn {
    padding: 20px;
    width: 120px;
    height: 30px;
    font-size: 0.8rem;
  }

  .services {
    /* background-color: red; */
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }
  .feature-heading h2 {
    font-size: 1.2rem;
  }

  .feature-heading h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .add-chart {
    position: absolute;
    right: 35px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: none;
    animation: fade 0.5s;
  }

  .distribusi-box {
    display: flex;
    flex-grow: 0.5;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    border-radius: 10px;
    overflow: hidden;
    text-align: justify;
  }

  .distribusi-box .gambar {
    width: 370px;
    margin-right: 10px;
  }

  .distribusi-box .content-1 {
    font-size: 1.2rem;
    color: #0b9d8a;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .distribusi-box .content-2 {
    font-weight: 500;
    color: #666666;
    font-size: 0.8rem;
  }

  .new-arrival strong,
  .feature-heading strong {
    font-size: 1.2rem;
  }
  .new-arrival p,
  .feature-heading p {
    font-size: 0.8rem;
    text-align: justify;
  }

  .product-container {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .sale-box {
    width: 100%;
    height: 180px;
  }
  .sale {
    width: 100%;
  }
  .services {
    width: 100%;
  }
  .services-box {
    width: 100%;
  }

  .portfolio-details a {
    text-align: center;
  }

  .copyright {
    margin: 20px 0px;
    text-align: center;
  }
  .subscribe {
    width: 100%;
  }
  .subscribe form {
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
  }
  .subscribe input {
    width: 100%;
    flex-grow: 1;
  }
  .login-form,
  .sign-up-form {
    width: 90%;
  }
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-whatsapp {
  margin-top: 16px;
}

/* ==========================Tentang kami===================================== */

.contact-bg {
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../images/contact1.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
  /* color: #0b9d8a; */
}

.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}
.line div {
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: #0b9d8a;
  border-radius: 5px;
}
.line {
  display: flex;
  align-items: center;
}
.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: #0b9d8a;
  border-radius: 50%;
}
.contact-bg .text {
  margin: 1.6rem 0;
}
.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}

.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}
.contact-info span {
  display: block;
}
.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}
.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: #0b9d8a;
}
.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text {
  padding-top: 0.4rem;
}

.contact-footer {
  padding: 2rem 0;
  background: #0b9d8a;
}
.contact-footer h3 {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}
.social-links a:hover {
  color: #0b9d8a;
  border-color: #0b9d8a;
}

@media screen and (min-width: 768px) {
  .contact-bg .text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .contact-bg .text {
    width: 50%;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    grid-template-columns: repeat(4, 1fr);
  }
}
